---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="About Studio">
    <div
        class="flex min-h-[50vh] items-center justify-center bg-[#F5F5F7] px-6 py-20 text-center md:px-20"
    >
        <!-- <h1
            class="text-6xl font-light uppercase tracking-tighter text-[#1d1d1f] md:text-8xl lg:text-9xl"
        >
            About
        </h1> -->
        <p
            class="mb-2 mt-8 text-xl font-light tracking-widest text-gray-500 uppercase max-w-5xl mx-auto"
        >
            Dengan menggabungkan pengalaman dalam desain hunian, perhotelan,
            desain industri, dan arah kreatif, Kaami Architects bekerja untuk
            me-re-sensualisasi lingkungan binaan. Didirikan pada tahun 2024,
            Kaami Architects adalah studio arsitek berbasis di surabaya yang
            menggunakan desain untuk memperkaya pengalaman manusia. Sebagai
            arsitek dan desainer multidisiplin, kami memandang pekerjaan kami
            sebagai fasilitasi kesejahteraan, sebagai penyulingan estetika yang
            beresonansi dengan individu dan tempat yang unik, serta sebagai
            sistem yang mendukung kebutuhan manusia yang universal.
        </p>
    </div>
</BaseLayout>

<div class="w-full">
    <img
        src="/about.png"
        alt="About Studio"
        class="w-full h-[50vh] object-cover"
    />
</div>
